################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/TestSolution/WpfApp/obj
/TestSolution/.vs/TestSolution/DesignTimeBuild
/TestSolution/.vs/TestSolution
/TestSolution/WpfApp/bin/Debug/net7.0-windows
/.vs
/.gitignore
